body{
    background-color: bisque;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1px;
}

section{
    width: 30vw;
    height: 30vh;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

section:hover{
    width: 31vw;
    height: 31vh;
    transition: width, 1s;
}

.inner{
    padding: 5px;
    align-content: center;
    justify-content: center;
    text-align: center;
}

button{
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    padding: 5px;
    width: 100px;
    height: 50px;
    background-color: rgb(68, 132, 250);
    border-radius: 10px;
    outline: none;
}

button:hover{
    cursor: pointer;
    background-color: rgb(22, 99, 241);
    transition: background-color, 0.5s;

}

.answer{
    height: 50px;
    font-size: 18pt;
}